<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<style>
  h1 {
    color: chartreuse;
  }

</style>
<body>
  <h1>Hello <%= @user.name %> your account has been updated</h1>
  <img alt='photo' src='https://images.unsplash.com/photo-1563171448-a8851a430c65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3034&q=80'>
</body>
</html>